@model IEnumerable<_0702.Models.TraineeCourse>

@{
  ViewBag.Title = "Index";
}


@if (User.IsInRole("Staff"))
{
  <h2>Assign Course to Trainee</h2>
  <p>
    @Html.ActionLink("Assign Trainee to Course", "Create")
  </p>

  <table class="table">
    <tr>
      <th>
        Trainee
      </th>
      <th>
        Course
      </th>
      <th></th>
    </tr>

    @foreach (var traineeCourse in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(t => traineeCourse.Trainee.UserName)
        </td>
        <td>
          @Html.DisplayFor(t => traineeCourse.Course.Name)
        </td>
      </tr>
    }
  </table>
}
@if (User.IsInRole("Trainee"))
{
  <h2>My Course</h2>
  <table class="table">
    <tr>
      <th>
        Course
      </th>
      <th></th>
    </tr>
    @foreach (var traineeCourse in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(t => traineeCourse.Course.Name)
        </td>
      </tr>
    }
  </table>
}

